<!-- 30_Assignment_Quoting Dojo -->
<!doctype html>
<html>
<head>
	<title>Welcome to Quoting Dojo</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<style type="text/css">
		h6{
			border-bottom: 1px solid black;
			padding-bottom: 10px;
		}
	</style>
</head>
<body align="center" class="col-md-4">

	<h1>Here are the awesome super duper quotes!!!</h1>
	
	<% for (var x in user_quotes){ %>
		<h4><%= user_quotes[x].name %></h4>
		<h6><%= user_quotes[x].quote %></h6>
	<% } %>


</body>
</html>