<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/users" method="post">
		First name:<br>
		<input type="text" name="name" value="name"><br>
		Age:<br>
		<input type="text" name="age" value="age"><br><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>